.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.row-1 {
    border-bottom: 1px #a6a6a6 solid;
}